
<h1><%= title %></h1>

<div>Current user: <span id="user">N/A</span></div>

<br/>

<form>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" placeholder="Email">
  </div>
  
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password">
  </div>
  
  <button id="signup" type="button" class="btn btn-primary">Sign-up</button>
  <button id="login" type="button" class="btn btn-success">Login</button>
  <button id="logout" type="button" class="btn btn-danger">Logout</button>
</form>

<script>
  var socket = io.connect(window.location.host);
  
  socket.on('sign-up-failure', data => alert('Sign up failed, ' + JSON.parse(data).message));
  socket.on('log-in-failure', data => alert('Log in failed, ' + JSON.parse(data).message));
  socket.on('log-out-failure', data => alert('Log out failed, ' + JSON.parse(data).message));

  $(document).ready(() => {
    socket.on('auth-state-changed', data => {
      var user = JSON.parse(data);
      console.log(user);
      $('#user').text(user ? user.email : 'N/A');
    });
    
    $('#signup').click(e => {
      var email = $('#email').val();
      var password = $('#password').val();

      socket.emit('sign-up-request', JSON.stringify({
        email: email,
        password: password
      }));
    });
    
    $('#login').click(e => {
      var email = $('#email').val();
      var password = $('#password').val();

      socket.emit('log-in-request', JSON.stringify({
        email: email,
        password: password
      }));
    });
    
    $('#logout').click(e => socket.emit('log-out-request'));
  });
</script>
